<h2 id=name>
    <%=user.username%>
</h2>

<div name="userBio" id="" cols="30" rows="10">
    <%=user.Bio%>
</div>

<h3>
    Оценка: <%=user.overallRating%>
</h3>

<h3>
    Брой последователи: <%=user.followerCount%>
</h3>

<form action="<%-'/author/' + user.ID + '/show'-%>" method='POST'>
    <input type="hidden" name='user' value='<%-user-%>'>
    <button type='submit'>Абонирай се!</button>
</form>

<ul>

</ul>
