<link rel="stylesheet" href = "/stylesheets/author.css">
<script src="/javascripts/author.js"></script>

<div class="split left">
<div class="centered">

  <img src="/imgs/user.png" alt="Avatar woman" id = "profilePic">
  <h2 id = "authorName"><%=user.username%></h2>
  <form action="/author/<%-user.ID-%>/show" method='POST'>
    <button type='submit' class = "button" id = "subscribeButton" onclick="changeSubscribedStatus()"> Абонирай се </button>
  </form>
  <div id = "authorBio"><%=user.Bio%></div>
  <h3>
      Оценка: <%=user.overallRating%>
  </h3>

  <h3>
      Брой последователи: <%=user.followerCount%>
  </h3>
</div>
</div>

<div class="split right">
<div class="centered">
  <% books.forEach(book => { %>
    <a href = "/book/<%-book.Id%>"><div class = "bHolder">
      <img src="/imgs/book.png" width="100px" height="100px" alt = "icon" class="projectIcon">
        <h1 class = "projectTitle"><%- book.Title %></h1>
    </div></a>
  <%});%>
</div>
</div>
