<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel = "stylesheet" href = "/stylesheets/font.css">
  <link rel = "stylesheet" href = "/stylesheets/book.css">
</head>
<body>
    <% console.log(book.Title);%>
    <h1 id = "headingChapters"> <%- book.Title %> </h1>
    <p style="text-align: center;">Рейтинг на книгата: <strong><%- book.Rating%></strong></p>
    <%if(chapters){%>
      <% for(let i = 0; i < chapters.length; i++ ){ %>

        <center>
          <a href = <%- "/chapter/" + chapters[i].Id %> >
            <div class = "chapterHolder">
              <h1 class = "chapterTitle"><img src = "/imgs/manuscript.png" class = "chapterImage"> <%- chapters[i].Title %></h1>
            </div>
          </a>
        </center>
      <% } %>

      <h2 id = "commentAnnounce"> Коментари </h2>
      <form action='/book/<%- book.Id %>/' method="POST">
          <center>
          <textarea id = "commentArea" placeholder="Напиши коментар!" name='comment'>

          </textarea>
          <br></br>
          <input type="submit" value = "Коментирай" id = "commentButton"></center>
      </form>

      <a href = '/book/post/<%=book.Id%>' name="button">Издай!</button>


    <%}else{%>
      <center><h1>Nothing to show here...</h1>
    <%}%>
    
    <%if (show){%>
      <a href="/newchapter/<%-book.Id %>?bookTitle=<%-book.Title%>"><img src="/imgs/plusbutton.png" id = "addButton"></a></center>
    <%}%>

</body>
</html>
