<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel = "stylesheet" href = "/stylesheets/font.css">
  <link rel = "stylesheet" href = "/stylesheets/chapter.css">
  <link rel = "stylesheet" href = "/stylesheets/book.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <%- include ./partials/locals.messages.ejs%>
  <div id='drop_down_menu'>
    <a href="#" ><img src="/imgs/hamburgerparchment.png" id = "hamburgerButton"></a>
    <div id='drop_down_content'>
      <ul>
        <li><a href="/">Начало</a></li>
        <li><a href="/catalog/?page=1">Каталог</a></li>
        <li><a href=<%- "/book/" + bookId %>>Книгата</a></li>

        <li>
          <%if (chapter.ChapterPosted == 'N'){%>
            <a href=<%- '/chapter/' + chapterId + '/post/' %>>Публикувай!</a>
          <%}%>
        </li>
      </ul>
    </div>
  </div>
   <a href = "#commentArea"><img src="/imgs/down.png" id = "downButton"></a>
  <div id = "textHolder">
    <a href="#" id = "fullscreenBtn" ><img src="/imgs/fullscreen.png" id = "fullscreen_png"></a>
    <h1 id = "chapterTitle"><%=chapter.ChapterTitle%></h1>

    <%-htmlContent%>
  </div>
  <center>
  <%if (userId == authorId){%>
    <a href="/write/<%-chapterId%>"> <button id = "editButton">Редактирай</button> </a>
  <%}%>
  <a class="fas fa-thumbs-up" id = "likeButton" href='/chapter/<%-chapter.BookId%>/like'></a></center>
<center>
  <%if (chapter.PreviousChapter){%>
    <a href="/chapter/<%-chapter.PreviousChapter%>" ><img src="/imgs/before.png" id = "beforeButton"></a>
  <%}%>
  <%if (chapter.NextChapter){%>
    <a href="/chapter/<%-chapter.NextChapter%>" ><img src="/imgs/next.png" id = "nextButton"></a>
  <%}%>

</center>
<form action='/chapter/<%-chapterId-%>/' method="POST">
  <center>
  <textarea id = "commentArea" placeholder="Напиши коментар!" name='comment'>

  </textarea>
  <br></br>
  <input type="submit" value = "Постни коментар" id = "commentButton">
</form>

  <%commentUsers.forEach((comment) => {%>
  <div class="container com">
    <div class = "row">
    <div class="col-3 author"><%=comment.username%></div>
    <div class="col-9 comment"><%=comment.Content%></div>
  </div>
  </div>
  <%})%>
</center>

<script>
  var likebtn = document.getElementById('likeButton');
  var hamburger = document.getElementById('hamburgerButton');
  var dropDown = document.getElementById('drop_down_content');

  var showDropDown = false;

  likebtn.onclick = () => {
    if (likebtn.getAttribute("href").contains('dislike')){
      likebtn.setAttribute("href", `/chapter/<%=chapterId%>/like`);
    }
    else{
      likebtn.setAttribute("href", `/chapter/<%=chapterId%>/dislike`);
    }
  }

  hamburger.onclick = () => {
    console.log(showDropDown);

    if (showDropDown){
      dropDown.style.visibility = 'hidden';
      showDropDown = false;
    }
    else{
      showDropDown = true;
      dropDown.style.visibility = 'visible';
    }
  }


  var elem = document.getElementById("textHolder");
  var fullscreenBtn = document.getElementById("fullscreenBtn");
  fullscreenBtn.onclick = () => {
    if (elem.requestFullscreen) {
      elem.requestFullscreen();
    } else if (elem.mozRequestFullScreen) {
      elem.mozRequestFullScreen();
    } else if (elem.webkitRequestFullscreen) {
      elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) {
      elem.msRequestFullscreen();
    }
  }
</script>
</body>
</html>
