<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
<h2 id=name>
    <%=user.username%>
</h2>

<div id="picture" cols="30" rows="10">
    <img id="picture" src="/imgs/picture.png" alt="something">
</div>

<form id="bioForm" action="/profile", method='POST'>
    <div contenteditable name="userBio" id="bio" cols="30" rows="10">
        <p><%=user.Bio%></p>
    </div>

    <button id="submitbtn" type='submit'>Edit</button>
</form>

<h3>
    Оценка: <%=user.overallRating%>
</h3>

<h3>
    Брой последователи: <%=user.followerCount%>
</h3>

<div id="bookshelf" cols="30" rows="10">
    <ul id="books">
        <%books.forEach((book) => {%>
          <li class = "projectHolder">
            <img src="/imgs/book.png" width="100px" height="100px" alt = "icon" class="projectIcon">
              <a href="#" class = "projectTitle"><%- book.Title %></a>
          </li>
        <%})%>
    </ul>
</div>
